<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- css -->
        <link rel="stylesheet" href="./css/reset.css" />
        <link rel="stylesheet" href="./css/common.css" />
        <link rel="stylesheet" href="./css/login.css" />
        <link rel="stylesheet" href="./css/main.css" />
        
        <title>RollingPaper</title>
    </head>
    <body>
        <!-- body -->
        <% if (components === 'main') { %> <%- include('main.ejs') %> <% } %> <% if (components === 'login') { %> <%- include('login.ejs') %> <% } %>
    </body>
</html>
