<div class="login-background">
    <div class="login-wrap">
        <div class="login-header">
            <p>Sign In</p>
        </div>
        <div class="login-body">
            <input type="text" name="email" id="email" placeholder="Email" />
            <input type="password" name="password" id="password" placeholder="Password" />
        </div>
        <div class="login-btn-wrap">
            <button type="button" class="login-btn">Sign In</button>
        </div>
    </div>
</div>
