<div class="main-background">
    <button
        id="btn-modal"
        type="button"
        class="sticky"
        data-bs-toggle="modal"
        data-bs-target="#create-post-modal"
    >
        <img src="../image/sticky.png" class="sticky" />
    </button>

    <div class="pagination-button-wrap">
        <button type="button" class="btn-prev" onclick="prev()"></button>
        <button type="button" class="btn-next" onclick="next()"></button>
    </div>

    <div class="board"></div>
</div>

<!-- modal -->
<div
    class="modal fade"
    id="create-post-modal"
    tabindex="-1"
    aria-labelledby="create-post-modal-label"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <input type="text" id="nickname" class="post-nickname" placeholder="닉네임" />
            </div>
            <div class="modal-body">
                <textarea placeholder="내용" id="content" class="post-content"></textarea>
            </div>
            <div class="post-btn-wrap">
                <button type="button" class="post-btn" onclick="submit()">write</button>
            </div>
        </div>
    </div>
</div>

<script>
    init();

    function init() {
        const id = '';
        const type = 'init';

        $.ajax({
            type: 'GET',
            url: '/api/posts/?id=' + id + '&type=' + type,
            success: function (response) {
                const postList = response.postList;

                for (let i = 0; i < postList.length; i++) {
                    let posX = Math.floor(Math.random() * 720);
                    let posY = Math.floor(Math.random() * 500);

                    const ImageNum = [
                        '../image/sticky5.png',
                        '../image/sticky6.png',
                        '../image/sticky7.png',
                        '../image/sticky8.png',
                    ];

                    let imageNum = Math.floor(Math.random() * 4);

                    let temp = `
                    <div data-index=${postList[i]._id} class="postit" style="background-image: url(${ImageNum[imageNum]}); position: absolute; left: ${posX}px; top: ${posY}px;">
                        ${postList[i].nickname}
                    </div>
                 `;

                    $('.board').append(temp);
                }
            },
            error: function (response) {
                alert(response.responseJSON.message);
                window.location.reload = '/';
            },
        });
    }

    function prev() {
        const id = $('.postit:first-child').attr('data-index');
        const type = 'prev';

        $.ajax({
            type: 'GET',
            url: '/api/posts/?id=' + id + '&type=' + type,
            success: function (response) {
                $('.board').empty();

                const postList = response.postList;

                for (let i = 0; i < postList.length; i++) {
                    let posX = Math.floor(Math.random() * 720);
                    let posY = Math.floor(Math.random() * 500);

                    const ImageNum = [
                        '../image/sticky5.png',
                        '../image/sticky6.png',
                        '../image/sticky7.png',
                        '../image/sticky8.png',
                    ];

                    let imageNum = Math.floor(Math.random() * 4);

                    let temp = `
                    <div data-index=${postList[i]._id} class="postit" style="background-image: url(${ImageNum[imageNum]}); position: absolute; left: ${posX}px; top: ${posY}px;">
                        ${postList[i].nickname}
                    </div>
                 `;

                    $('.board').append(temp);
                }
            },
            error: function (response) {
                alert(response.responseJSON.message);
                window.location.reload = '/';
            },
        });
    }

    function next() {
        const id = $('.postit:last-child').attr('data-index');
        const type = 'next';

        $.ajax({
            type: 'GET',
            url: '/api/posts/?id=' + id + '&type=' + type,
            success: function (response) {
                $('.board').empty();

                const postList = response.postList;

                for (let i = 0; i < postList.length; i++) {
                    let posX = Math.floor(Math.random() * 720);
                    let posY = Math.floor(Math.random() * 500);

                    const ImageNum = [
                        '../image/sticky5.png',
                        '../image/sticky6.png',
                        '../image/sticky7.png',
                        '../image/sticky8.png',
                    ];

                    let imageNum = Math.floor(Math.random() * 4);

                    let temp = `
                    <div data-index=${postList[i]._id} class="postit" style="background-image: url(${ImageNum[imageNum]}); position: absolute; left: ${posX}px; top: ${posY}px;">
                        ${postList[i].nickname}
                    </div>
                 `;

                    $('.board').append(temp);
                }
            },
            error: function (response) {
                alert(response.responseJSON.message);
                window.location.reload = '/';
            },
        });
    }

    function submit() {
        const nickname = $('#nickname').val();
        const content = $('#content').val();

        //console.log(nickname, content);

        $.ajax({
            type: 'POST',
            url: '/api/posts/',
            data: {
                nickname,
                content,
            },
            success: function (response) {
                alert(response.message);
                window.location.href = '/';
            },
            error: function (response) {
                console.log(response.responseJSON.message);
            },
        });
    }
</script>
