<div class="main-background">
	<div class="box">
		<button class="sticky"><img src="../image/sticky.png" class="sticky"></button>
		<div class="board">
			<img src="../image/stickynote6.png" class="in-board-sticky1">
			<img src="../image/stickynote6.png" class="in-board-sticky2">
		</div>
	</div>
</div>