.main-background {
    width: 100%;
    height: 100%;

    background-image: url('../image/mock4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sticky {
    width: 300px;
    height: 210px;

    object-fit: cover;
    position: absolute;

    bottom: 0%;
    right: 15%;

    background:transparent;
}

button.sticky {
    border: none;
    outline: none;
}

.board {
    width: 930px;
    height: 550px;

    /* background-color: gray; */

    position: absolute;

    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);

    float: left;
}

.in-board-sticky1 {
    width: 450px;
    height: 550px;
}

.in-board-sticky2 {
    width: 450px;
    height: 550px;

}